<!DOCTYPE html>
<html>
	<head>
		<title>ML API</title>
	</head>
	<body>
		<div>
			<h3>predict yield</h3>
			<form action="{{ url_for('predict')}}" method="POST">
				<input type="text" name="marital_status" placeholder="marital status" required="required"/>
				<input type="text" name="education" placeholder="education" required="required"/>
				<input type="text" name="land_ownership" placeholder="land_ownership" required="required"/>
				<input type="text" name="farm_size " placeholder="farm size " required="required"/>
				<input type="text" name="age_group" placeholder="age_group" required="required"/>
				<button type="submit">Predict</button>
			</form>

			<br>
			<br>
			{{ prediction }}
		</div>
	</body>
</html>
